<!DOCTYPE html>
<html>
<head>
	<title>Gizmojo.com</title>
	<link rel="stylesheet" type="text/css" href="../Css/project.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.min.css">
	<style type="text/css">
		img{
			width: 50%;
		}
	</style>
</head>
<body>
	<div class="header">
		<p>Gizmojo</p>
		<div class="home"><a href="Project.html">Home</a></div>
		<div class="categories"><a href="categories.html" class="active">Categories</a></div>
		<div class="latest"><a href="Latestnews.html">Latest News</a></div>
		<div class="search"><form method="get"><input type="text" name="search" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button></form></div>
		<div class="review"><a href="reviews.html">Review</a></div>
		<div class="login"><a href="login.html" >Login</a></div>
		<div class="signup"><a href="sign.html">Signup</a></div>


	</div>
	<div class="mains">
	<div class="body">
		<div class="frow">
			<div class="frowf">
				<img src="../Images/huawei.jpg" height="400px" align="middle">
				<p><a href=""> Huawei </a></p>
			</div>
			<div class="frows">
				<img src="../Images/iphone.jpg" height="400px" align="'middle" >
				<p><a href=""> I-phone </a></p>
			</div>
		</div>
		<div class="srow">
			<div class="srowf">
				<img src="../Images/redmi.jpg" height="400px" align="middle">
				<p><a href=""> Redmi </a></p>
			</div>
			<div class="srows">
				<img src="../Images/samsung.jpg" height="400px" align="middle">
				<p><a href=""> Samsung </a></p>
			</div>
		</div>
		<div class="trow">
			<div class="trowf">
				<img src="../Images/dell.jpg" height="400px" align="middle">
				<p><a href=""> Dell </a></p>
			</div>
			<div class="trows"><img src="../Images/predator.jpg" height="400px" align="middle">
				<p><a href=""> Predator </a></p>
			</div>
		</div>
	</div>
</div>
	<div class="footera">
		<p class="cus">Contact us:</p>
		<p class="email">Email:Gizteq@gmail.com</p>
		<p class="Address">Address:Lokanthali</p>
		<p class="phone">Phone:01-2345678</p>
		<button type="submit"><i class="fa fa-facebook-square"></i></button>
		<button type="submit"><i class="fa fa-instagram"></i></button>
		</button><button type="submit"><i class="fa fa-twitter-square"></i></button>
	</div>

	

</body>
</html>