<!DOCTYPE html>
<html>
<head>
	<title>Gizmojo.com</title>
	<link rel="stylesheet" type="text/css" href="../Css/project.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<p>Gizmojo</p>
		<div class="home"><a href="Project.html">Home</a></div>
		<div class="categories"><a href="categories.html">Categories</a></div>
		<div class="latest"><a href="Latestnews.html" class="active">Latest News</a></div>
		<div class="search"><form method="get"><input type="text" name="search" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button></form></div>
		<div class="review"><a href="reviews.html">Review</a></div>
		<div class="login"><a href="login.html" >Login</a></div>
		<div class="signup"><a href="sign.html">Signup</a></div>


	</div>
	<div class="mains">
		<div class="news">
			<img src="../Images/1.jpg">
			<a href=""><h2>Leaked! Images of a mysterious TCL smartphone with a slide-out screen surfaces online</h2></a>
			<p class="para">From what we have seen and heard till now, we can safely label 2020 as the year of foldable smartphones. Samsung Galaxy Fold, Motorola...</p>
		</div>
		<div class="news">
			<img src="../Images/2.jpg">
			<a href=""><h2>Sharp announces Aquos R5G with 8K recording and two-notched display!</h2></a>
			<p class="para">Sharp is not a brand that we hear about a lot in our part of the world. It is a corporation that designs and...</p>
		</div class="news">
		<div class="news">
			<img src="../Images/3.jpg">
			<a href=""><h2>Here’s everything you need to know before buying a TV in 2020!</h2></a>
			<p class="para">After the invention of the television, the craze for the radio had significantly declined. And seeing a pattern from that fact, it was predicted...</p>
		</div class="news">
		<div class="news">
			<img src="../Images/4.jpg">
			<a href=""><h2>Realme X50 Pro to launch on Feb 24: Comes with 90Hz screen and Snapdragon...</h2>
			<p class="para">Realme is all into launching smartphones with a high refresh rate. But then again that might just be the norm very soon and it's...</p>
		</div>
		<div class="news">
			<img src="../Images/5.jpg">
			<a href=""><h2>Budget Honor 8A Lite with Wireless FM launched in Nepal</h2></a>
			<p class="para">Lately, Honor has been launching quite a number of phones in the Nepali market. Just some time ago, we saw the mid-range Honor 9X...</p>
		</div>
		<div class="news">
			<img src="../Images/6.jpg">
			<a href=""><h2>Samsung Galaxy Z Flip fails the ultimate durability test: Is the foldable dream doomed?</h2></a>
			<p class="para">The new Samsung Galaxy Z Flip had a lot riding on its shoulder, to be honest. While the first foldable from the company was...</p>
		</div>
		<div class="news">
			<img src="../Images/7.jpg">
			<a href=""><h2>Vivo V19 Pro to launch on March 3: Comes with punch-hole display & dual...</h2></a>
			<p class="para">The launch date of the much-awaited Vivo V19 Pro, that sports a punch-hole display has been leaked. Apparently, the device whose pre-booking began from...</p>
		</div>
		<div class="news">
			<img src="../Images/8.jpg">
			<a href=""><h2>Samsung Galaxy A51 impressions: The new mid-range quad-camera champ is coming to Nepal!</h2></a>
			<p class="para">Samsung launched the successor to the A50, not so long ago which if you remember, was highly criticized for being overpriced when it launched....</p>
		</div>
		<div class="news">
			<img src="../Images/9.jpg">
			<a href=""><h2>Honor Mobiles Price in Nepal [Updated]</h2></a>
			<p class="para">Honor officially arrived in Nepal at the end of 2018. Kratos Technologies Pvt. Ltd. is the official distributor of the Honor mobiles in Nepal. And...</p>
		</div>
		<div class="news">
			<img src="../Images/10.jpg">
			<a href=""><h2>Samsung Galaxy Note 10 Lite Early Impressions: After 24 hours!</h2></a>
			<p class="para">Samsung’s Note lineup of smartphones has always represented the best of Samsung, year after year. However, the majority of the smartphone consumers simply couldn’t...</p>
		</div>
		<p class="para"><a href="next.html">Nextpage</a></p>
	</div>
	<div class="footer">
		<p class="cus">Contact us:</p>
		<p class="email">Email:Gizteq@gmail.com</p>
		<p class="Address">Address:Lokanthali</p>
		<p class="phone">Phone:01-2345678</p>
		<button type="submit"><i class="fa fa-facebook-square"></i></button>
		<button type="submit"><i class="fa fa-instagram"></i></button>
		</button><button type="submit"><i class="fa fa-twitter-square"></i></button>
	</div>

	

</body>
</html>