<!DOCTYPE html>
<html>
<head>
	<title>Gizmojo.com</title>
	<link rel="stylesheet" type="text/css" href="../Css/project.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.min.css">
	

	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="../engine0/style.css" />
	<script type="text/javascript" src="../engine0/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section --></head>
<body>
	<div class="header">
		<p>Gizmojo</p>
		<div class="home"><a href="Project.html" class="active">Home</a></div>
		<div class="categories"><a href="categories.html">Categories</a></div>
		<div class="latest"><a href="Latestnews.html">Latest News</a></div>
		<div class="search"><form method="get"><input type="text" name="search" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button></form></div>
		<div class="review"><a href="reviews.html">Review</a></div>
		<div class="login"><a href="login.html" >Login</a></div>
		<div class="signup"><a href="sign.html">Signup</a></div>

	</div>
	<div class="mains">
	<div class="main">
		
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="../data0/images/63837562.jpg" alt="63837562" title="63837562" id="wows0_0" /></li>
		<li><img src="../data0/images/72016219.jpg" alt="72016219" title="72016219" id="wows0_1"/></li>
		<li><a href="http://wowslider.net"><img src="../data0/images/huaweip30pro18.jpg" alt="jquery slideshow" title="huawei-p30-pro-18" id="wows0_2"/></a></li>
		<li><img src="../data0/images/tjdypzn3r8b7onh2imunah120080.jpg" alt="TJDYpZN3r8B7onh2imuNah-1200-80" title="TJDYpZN3r8B7onh2imuNah-1200-80" id="wows0_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="63837562"><span><img src="../data0/tooltips/63837562.jpg" alt="63837562"/>1</span></a>
		<a href="#" title="72016219"><span><img src="../data0/tooltips/72016219.jpg" alt="72016219"/>2</span></a>
		<a href="#" title="huawei-p30-pro-18"><span><img src="../data0/tooltips/huaweip30pro18.jpg" alt="huawei-p30-pro-18"/>3</span></a>
		<a href="#" title="TJDYpZN3r8B7onh2imuNah-1200-80"><span><img src="../data0/tooltips/tjdypzn3r8b7onh2imunah120080.jpg" alt="TJDYpZN3r8B7onh2imuNah-1200-80"/>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">carousel jquery</a> by WOWSlider.com v9.0</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="../engine0/wowslider.js"></script>
	<script type="text/javascript" src="../engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section --></div>
	<div class="second">
		<div class="one">
			<img src="../Images/Honor-9X-Review-324x160.jpg">
			<div class="onep"><a href="vivo.html">So lately, there haven’t been a lot of Honor devices launching, contrary to what we were used to seeing a couple of years ago....</a> </div>
		</div>
		<div class="two">
			<img src="../Images/Colors-Pride-1-Review-324x160.jpg"><div><a href="colors.html">How much does your phone cost? Assuming that you are using an Android or an iPhone, it’s fair enough to say the price could...</a></div>
		</div>
		<div class="three">
			<img src="../Images/VivoS1ProReview.jpg">
			<div><a href="vivo12.html">After the failure to capture the upper midrange market share with Vivo V17 Pro due to the fierce....</a></div>
		</div>
		<div class="four">
			<img src="../Images/ASUS-TUF-FX505GT-Review-696x364.jpg">
			<div><a href="asus.html">What’s the first thing that comes to your mind about a gaming laptop? Bulky, heavy, radiant good one...</a></div>
		</div>
		</div>
	</div>
	<div class="footer">
		<p class="cus">Contact us:</p>
		<p class="email">Email:Gizteq@gmail.com</p>
		<p class="Address">Address:Lokanthali</p>
		<p class="phone">Phone:01-2345678</p>
		<button type="submit"><i class="fa fa-facebook-square"></i></button>
		<button type="submit"><i class="fa fa-instagram"></i></button>
		</button><button type="submit"><i class="fa fa-twitter-square"></i></button>
	</div>

	

</body>
</html>