<!DOCTYPE html>
<html>
<head>
	<title>Gizmojo.com</title>
	<link rel="stylesheet" type="text/css" href="../Css/project.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<p>Gizmojo</p>
		<div class="home"><a href="Project.html">Home</a></div>
		<div class="categories"><a href="categories.html">Categories</a></div>
		<div class="latest"><a href="Latestnews.html">Latest News</a></div>
		<div class="search"><form method="get"><input type="text" name="search" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button></form></div>
		<div class="review"><a href="reviews.html" class="active">Review</a></div>
		<div class="login"><a href="login.html" >Login</a></div>
		<div class="signup"><a href="sign.html">Signup</a></div>
	</div>
	<div class="mains">
		<div class="rev">
			<img src="../Images/11.jpg">
			<a href=""><h2>OnePlus 7T Long-Term Review: The best of the ‘7’?</h2></a>
				<p class="para">OnePlus smartphones from last year were kind of confusing for me. Breaking their traditional two-phone-a-year policy, they had a total of 4 devices under...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/12.jpg">
			<a href=""><h2>Huawei EnVizion 360 Camera Review: See what you can’t!</h2></a>
				<p class="para">The struggle of capturing a perfect panoramic shot with your smartphone camera is real. Now there’s the ultra-wide angle lens available in smartphones these...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/13.jpg">
			<a href=""><h2>Acer Predator Helios 300 2019 Review: Carrying on the Predator Legacy</h2></a>
				<p class="para">The Acer Predator Helios 300 2019 is probably the most requested gaming laptop review in our comments section. And I finally got to test...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/14.jpg">
			<a href=""><h2>Vivo V17 Pro Review: Has the V-series lost its spark?</h2></a>
				<p class="para">So, I have been using the Vivo V17 Pro for quite a while now. I know it’s not just a late review, it’s a...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/15.jpg">
			<a href=""><h2>Samsung Galaxy A70s Long Term Review: Great Multimedia Device!</h2></a>
				<p class="para">Alright, today I have the Samsung Galaxy A70s. It has been my primary phone for more than a month now. At first, I was...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/16.jpg">
			<a href=""><h2>Samsung Galaxy A50s Review: An Excellent Camera Phone</h2></a>
				<p class="para">Just roll back like a year ago, Samsung J-series and A-series were not performing well, and hence we saw Samsung dominance fall. In India,...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/17.jpg">
			<a href=""><h2>iBoysoft Data Recovery Review: A handy tool to recover your lost and deleted files!</h2>
</a>
<p class="para">Marry in haste and repent in leisure. We are well aware of this proverb yet due to our carelessness and hasty nature, we make...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/18.jpg">
			<a href=""><h2>Nokia 7.2 Review: A love-hate relations</h2></a>
				<p class="para">Nokia - a brand that you're most likely already familiar with. By now I'm sure most of you guys already know the rise and...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/19.jpg">
			<a href=""><h2>MSI Prestige 15 SC Review: An eXcellent XPS alternative!</h2>
</a>
<p class="para">Buying a laptop can be tricky; so many things to look out for, so many things to figure out before choosing one. But the...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>
		<div class="rev">
			<img src="../Images/20.jpg">
			<a href=""><h2>JBL Flip 5 Review: Good Times Bad Times</h2></a>
				<p class="para">Bluetooth. It's safe to assume that most of us are plenty familiar with the technology which has been connecting our smartphones and so many...</p>
			<p class="star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p>
		</div>


		
	</div>
	<div class="footer">
		<p class="cus">Contact us:</p>
		<p class="email">Email:Gizteq@gmail.com</p>
		<p class="Address">Address:Lokanthali</p>
		<p class="phone">Phone:01-2345678</p>
		<button type="submit"><i class="fa fa-facebook-square"></i></button>
		<button type="submit"><i class="fa fa-instagram"></i></button>
		</button><button type="submit"><i class="fa fa-twitter-square"></i></button>
	</div>

	

</body>
</html>