<!DOCTYPE html>
<html>
<head>
	<title>Gizmojo.com</title>
	<link rel="stylesheet" type="text/css" href="../Css/project.css..">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<p>Gizmojo</p>
		<div class="home"><a href="Project.html">Home</a></div>
		<div class="categories"><a href="categories.html">Categories</a></div>
		<div class="latest"><a href="Latestnews.html">Latest News</a></div>
		<div class="search"><form method="get"><input type="text" name="search" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button></form></div>
		<div class="review"><a href="reviews.html" class="active">Review</a></div>
		<div class="login"><a href="login.html" >Login</a></div>
		<div class="signup"><a href="sign.html">Signup</a></div>
	</div>
	<div>
		<p class="para">
			So lately, there haven’t been a lot of Honor devices launching, contrary to what we were used to seeing a couple of years ago. That’s all thanks to the US-Huawei controversy for sure! Anyways, the Honor 9X I have with me is the global variant wherein you don’t get the Kirin 810 or the side-mounted fingerprint scanner. So, what does the 9X have and how has it fared in my usage so far? Let’s dig in and find out in this review of the Honor 9X!</p>
			<img src="../Images/Honor-9X-Review-324x160.jpg">
<h2>Honor 9X International Edition Specifications</h2>
<p class="para">

Body: 6.42 x 3.04 x 0.35 inches; 206 gm; front/back glass</br>
Display: 6.59-inches IPS LCD panel</br>
Resolution: Full-HD+ (2340 x 1080 pixels); 19.5:9 aspect ratio</br>
Chipset: HiSilicon Kirin 710F; 12nm Mobile Platform</br>
CPU: Octa-core (4×2.2 GHz Cortex-A73 & 4×1.7 GHz Cortex-A53)</br>
GPU: Mali G51 MP4</br>
RAM: 6GB</br>
Storage: 128GB (expandable up to 512GB)</br>
Software & UI: Android 9.0 (Pie) with Huawei’s EMUI 9.1 on top</br>
Rear Camera: Triple-camera; 48MP f/1.8 primary sensor, 8MP f/2.4 ultrawide lens, 2MP f/2.4 depth sensor</br>
Front Camera: 16MP, f/2.2 aperture (motorized)</br>
Fingerprint sensor: Physical (rear-mounted)</br>
Connectivity: Dual-SIM (Nano), WiFi 802.11 a/b/g/n/ac, Bluetooth 5.0, AGPS/GPS/GLONASS/BDS, USB Type-C, 3.5mm headphone jack</br>
Battery: 4000 mAh battery with 10W Charging</br>
Colors: Midnight Black, Sapphire Blue</br>
Honor 9X Price in Nepal: Rs. 29,999 28,990 (6/128GB)</br>
</p>
		
	</div>
	<div class="footer">
		<p class="cus">Contact us:</p>
		<p class="email">Email:Gizteq@gmail.com</p>
		<p class="Address">Address:Lokanthali</p>
		<p class="phone">Phone:01-2345678</p>
		<button type="submit"><i class="fa fa-facebook-square"></i></button>
		<button type="submit"><i class="fa fa-instagram"></i></button>
		</button><button type="submit"><i class="fa fa-twitter-square"></i></button>
	</div>

	

</body>
</html>