<!DOCTYPE html>
<html>
<head>
	<title>Gizmojo.com</title>
	<link rel="stylesheet" type="text/css" href="../Css/project.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../Project/fontAwesome/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<p>Gizmojo</p>
		<div class="home"><a href="Project.html">Home</a></div>
		<div class="categories"><a href="categories.html">Categories</a></div>
		<div class="latest"><a href="Latestnews.html">Latest News</a></div>
		<div class="search"><form method="get"><input type="text" name="search" placeholder="Search"><button type="submit"><i class="fa fa-search"></i></button></form></div>
		<div class="review"><a href="reviews.html" class="active">Review</a></div>
		<div class="login"><a href="login.html" >Login</a></div>
		<div class="signup"><a href="sign.html">Signup</a></div>
	</div>
	<div>
		<p class="para">After the failure to capture the upper midrange market share with Vivo V17 Pro due to the fierce competition from Realme X2 Pro and Redmi K20 Pro, the company is now targeting the mid-range segment with the new Vivo S1 Pro. It features a refreshingly new design, which I’m sure many people would admire. I have been using this phone for almost a month now and here’s what I have to say about it.</p>
		<img src="../Images/VivoS1ProReview.jpg">
		<h2>Vivo S1 Pro Specifications</h2>
		<p class="para">
			Display: 6.38-inch (2340 × 1080 pixels) Full HD+ Super AMOLED</br>
			Chipset: Snapdragon 665</br>
			CPU: Octa-core (4 X 2GHz Kryo 260 + 4 X 1.8GHz Kryo 260)</br>
			GPU: Adreno 610 GPU</br>
			Memory: 8GB RAM with 128GB storage, expandable up to 256GB with MicroSD</br>
			OS: Android 9.0 Pie with Funtouch OS 9.2</br>
			SIM: Dual SIM</br>
			Back Camera: 48MP primary sensor, f/1.78 aperture + 8MP 120° ultrawide sensor with f/2.2 aperture + 2MP depth sensor with f/2.4 aperture + 2MP monochrome sensor with f/2.4 aperture</br>
			Front Camera: 32MP front-facing camera with f/2.0 aperture</br>
			Security: In-display fingerprint sensor</br>
			Dimensions: 159.25 × 75.19 × 8.68 mm; Weight: 186.7g</br>
			Connectivity: Dual 4G VoLTE, WiFi 802.11 ac dual-band, Bluetooth 5, GPS/GLONASS, Type C-port, 3.5 mm audio jack, FM Radio</br>
			Battery: 4500mAh with fast charging</br>
		</p>
	</div>
	<div class="footer">
		<p class="cus">Contact us:</p>
		<p class="email">Email:Gizteq@gmail.com</p>
		<p class="Address">Address:Lokanthali</p>
		<p class="phone">Phone:01-2345678</p>
		<button type="submit"><i class="fa fa-facebook-square"></i></button>
		<button type="submit"><i class="fa fa-instagram"></i></button>
		</button><button type="submit"><i class="fa fa-twitter-square"></i></button>
	</div>

	

</body>
</html>